:root{
    --red: #E50914;
    --black:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color:#aaa;    
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 15px;
}

header nav a:hover{
    color: #FFF;
}

/*Streamer Principal*/

.streamer-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url();
    
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.streamer-principal .descricao {
    margin-top: 15px;
    margin-bottom: 40px;
}

.streamer-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;

}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding:15px 30px;
    margin-right: 20px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}